body {
  background-image: url(http://templatemints.com/rttheme13/images/background_images/abstract_background7.jpg);
  background-size: 100%;
}

.jumbotron {
  text-align: center;
  background-color: #BCBABE;
}

.navbuttons {
  text-align: center;
  padding-bottom: 15px;
}

.alert {
  text-align: center;
}

.glyphicon {
  display: inline-block;
  float: right;
  width: 200px;
}
