body {
  background-image: url("http://cdn.wallpapersafari.com/29/41/DlsU41.jpg");
  background-color: #cccccc;
  background-size: cover;
}

.jumbotron {
  text-align: center;
  background-color: #ff9d89;
}

.navbuttons {
  text-align: center;
  padding-bottom: 15px;
}

.alert {
  text-align: center;
}

h3, h4, h5 {
  text-align: center;
}

.floatright {
  display: inline-block;
  float: right;
  vertical-align: middle;
}

.well {
  text-align: center;
}
