@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Silvia's Salon</h1>
</div>

<div class="navbuttons">
  <form action="/stylists-deleted" method="post">
    <a href="/"><button type="button" class="btn btn-info">Home</button></a>
    <a href="/add-stylist"><button type="button" class="btn btn-success">Hire Stylist</button></a>
    <button type="submit" class="btn btn-danger">Fire All Stylists!</button>
  </form>
</div>



@if(@Model.Count == 0)
{
  <div class="well"><h4>No hair stylists work here yet.  Hire some!</h4></div>
}
else
{
  <div class="panel panel-info">
    <div class="panel-heading"><h3>Available Stylists</h3></div>
    <div class="panel-body">
      @foreach(var stylist in @Model)
      {
      <div class="well">
      <h4><a href="/stylist-details/@stylist.GetId()">@stylist.GetName()</a></h4>
      </div>
      }
    </div>
  </div>
}
